@import "bootstrap/bootstrap.less";
@import "prettify.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Richard Towers
   ========================================================================== */

.no-js .js-only{
	display: none;
}

/* ==== Prettify ===============================================================
   Author: Richard Towers
   ========================================================================== */
pre.prettyprint{
  padding-left: 12px;
}