@import "bootstrap/bootstrap.less";
@import "prettify.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Richard Towers
   ========================================================================== */

.no-js .js-only{
	display: none;
}

.no-webworkers-message{
  display: none;
}

.no-webworkers .no-webworkers-message{
  display: inherit;
}

.no-webworkers #mandelbrotProgress{
  display: none;
}

canvas{
  .box-shadow(1px 1px 1px 1px #ccc); 
}

h2{
  font-size: huge;
  font-weight: 300;
}

h3{
  font-size: largest;
  font-weight: 200;
}

input {
  max-width: 100%;
}

.instant-transition .bar {
  .transition(width 0s);
}

#colouringGroup input {
  margin-right: 2px;
}

#mandelbrotControls button {
  margin-left: 5px;
}

@media (min-width: 768px) {
  .navbar .nav .dropdown-menu > .active > a {
    background-color: #59f;
  }
  .navbar .nav .dropdown-menu > .active > a:hover {
    background-color: #08c;
  } 
}

/* ==== Prettify ===============================================================
   Author: Richard Towers
   ========================================================================== */
pre.prettyprint{
  padding-left: 12px;
}