@import "bootstrap/bootstrap.less";
@import "prettify.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Richard Towers
   ========================================================================== */

.no-js .js-only{
	display: none;
}

.no-webworkers-message{
  display: none;
}

.no-webworkers .no-webworkers-message{
  display: inherit;
}

.no-webworkers #mandelbrotProgress{
  display: none;
}

canvas{
  .box-shadow(1px 1px 1px 1px #ccc); 
}

h2{
  font-size: huge;
  font-weight: 300;
}

h3{
  font-size: largest;
  font-weight: 200;
}

input {
  max-width: 100%;
}

.instant-transition .bar {
  .transition(width 0s);
}

#settingsGroup input {
  margin-right: 2px;
}

#mandelbrotControls button {
  margin-left: 5px;
}

/*
@media (min-width: 979px) {
  .navbar .nav .dropdown-menu > .active > a {
    background-color: #59f;
  }
  .navbar .nav .dropdown-menu > .active > a:hover {
    background-color: #08c;
  } 
}
*/

.icon-github {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  line-height: 14px;
  vertical-align: text-top;
  background: url(../img/github-icons.png) no-repeat 0 0;
  opacity: .65;
}

.github-large {
  width: 22px;
  height: 22px;
  background-position: 0 -20px;
}

#monochrome {
  display: inline-block;
  width: 85%;
  .box-shadow(1px 1px 1px 1px #ccc);
  #gradient > .horizontal-three-colors(#fff, #000, 50%, #fff);
}

#hue {
  display: inline-block;
  width: 85%;
  .box-shadow(1px 1px 1px 1px #ccc); 
  background: rgb(255,0,0); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,0,0,1) 0%, rgba(255,255,0,1) 17%, rgba(0,255,0,1) 33%, rgba(0,255,255,1) 50%, rgba(0,0,255,1) 67%, rgba(255,0,170,1) 83%, rgba(255,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,0,0,1)), color-stop(17%,rgba(255,255,0,1)), color-stop(33%,rgba(0,255,0,1)), color-stop(50%,rgba(0,255,255,1)), color-stop(67%,rgba(0,0,255,1)), color-stop(83%,rgba(255,0,170,1)), color-stop(100%,rgba(255,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,0,0,1) 0%,rgba(255,255,0,1) 17%,rgba(0,255,0,1) 33%,rgba(0,255,255,1) 50%,rgba(0,0,255,1) 67%,rgba(255,0,170,1) 83%,rgba(255,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,0,0,1) 0%,rgba(255,255,0,1) 17%,rgba(0,255,0,1) 33%,rgba(0,255,255,1) 50%,rgba(0,0,255,1) 67%,rgba(255,0,170,1) 83%,rgba(255,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,0,0,1) 0%,rgba(255,255,0,1) 17%,rgba(0,255,0,1) 33%,rgba(0,255,255,1) 50%,rgba(0,0,255,1) 67%,rgba(255,0,170,1) 83%,rgba(255,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(left,  rgba(255,0,0,1) 0%,rgba(255,255,0,1) 17%,rgba(0,255,0,1) 33%,rgba(0,255,255,1) 50%,rgba(0,0,255,1) 67%,rgba(255,0,170,1) 83%,rgba(255,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
}

/* ==== Prettify ===============================================================
   Author: Richard Towers
   ========================================================================== */
pre.prettyprint{
  padding-left: 12px;
}